@import "tailwindcss";

@theme {
  --font-serif: 'Playfair Display', serif;
}

:root {
  --brand-primary: #65e287;
  --brand-secondary: #132416;
  --border-color: #26302a;

}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  color: white;
}

body {
  margin: 0;
  background-color: #0b0e0c;
}

